/* STYLE SECTIONING TAGS */
*{
  margin: 3px;
  padding: 3px;
}
body {
 background-color:#e7f281; 
}

/* STYLE TEXT */

body{
  #hello{
  color:#4f606d;
  font-family:monospace;
  text-align:center;
}
}
main{
  color:#d98d26;
  font-family:sans-serif;
}
h1 {
  color: #2ba63d;
  font-size:39px;
  text-align:center;
}
h2 {
  color: #2ba63d;
  text-align:center;
}

p{
  color:#2ba63d;
  font-family:sans-serif;
  font-weight: bolder;
}

box{
  main{background-color:#e7f281; 
      color:#d98d26;
       font-family:sans-serif;
       font-weight: bolder;
    border: 3px solid white;}
  }
info{
  main{
    background-color:#e7f281; 
    color: white;
    border: 3px solid white;
    margin-up:0;
    margin-bottom:0;
    margin-right: 10%;
    margin-left: 10%;
  }
}

/* STYLE IMAGES */
i1{
  img{max-width:50%;
     max-height:60%;
     border-radius:50%;
     text-align:left;
      border: 3px solid white;
     }
}
i2{
  img{max-width:50%;
      border-radius:15%;
     text-align: left;
     border: 3px solid white;}
}
i3{
  img{max-width:50%;
      border-radius:15%;
     text-align:left;
     border: 3px solid white;}
}

.pics{
  max-width:60%;
    border-radius:15%;
   text-align:left;
   border: 3px solid white;
}

/* STYLE NAV BAR */


.navbar{
  ul{list-style-type: none;
  background-color:#207d2e; 
  overflow: hidden;
  padding:1em;
     text-align: center;
    }
}

li{
  display: inline;
}

li a{
  text-decoration: none;
  color: white;
  font-size: 0.5cm;
  padding: 1em;
}

li a:hover{
  background-color:#34c849;
}

box1{
  main{
    background-color: #d98d26; 
      color:white;
       font-family:sans-serif;
    border: 3px solid white;

  }
}